<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password-Generator</title>
</head>
<body>
    <h2>Random Password Generator</h2>
    <form method="POST" id="passwordForm">
        <input readonly style="padding: 20px; width: 400px; font-size: 30px; color:crimson" type="text" placeholder="your password" id="passwordField" value="{{password or ''}}"> <br><br>
        <button type="button" onclick="copyPassword()"> Copy Password</button><br><br>
        <button type="button" onclick="resetForm()">Reset</button> 

        <br><br>
        <label for="length"> Enter Password Length:</label>
        <input style="width: 30px;" type="number" id="length" name="length" required value="8"><br><br>
        <input type="checkbox" id="numbers" name="numbers" ><label for="numbers">Include Numbers(0-9)</label><br><br>
        <input type="checkbox" id="special" name="special" ><label for="special">Include Special Characters(@,#,$,!,%,^,&,*,(,),-)</label><br><br>
        <button type="submit">Generate Password</button><br>
    </form>

    {% if password %}
    <h2>Generated Password: <strong style="color: crimson;" >{{ password }}</strong></h2>
    {% endif %}

    <script>
        const copyPassword = () => {
            const copyText = document.getElementById("passwordField");
            
            // Select the text field
            copyText.select();
            copyText.setSelectionRange(0, 99999);  
            
            // Copy the text to clipboard
            navigator.clipboard.writeText(copyText.value)
            .then(() => {
                alert("Password has been copied to clipboard!");
            })
            .catch(err => {
                console.error("Failed to copy password", err);
            });
        }

        const resetForm = () => {
            document.getElementById("passwordForm").reset(); // Reset all form fields to their default values
            document.getElementById("passwordField").value = ''; // Clear the password field manually
        }
    </script>
</body>
</html>
